<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="nav-bar">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>W2M</h1>
        <div class="toggle-session-button">
          <button mat-icon-button *ngIf="user" matTooltip="toggleSession" aria-label="edit" (click)="toggleSession()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-drawer-container autosize class="main-content">
      <mat-drawer #sidenav mode="side" [opened]="true">
        <mat-nav-list>
          <a [routerLink]="'/'" *ngIf="!user; else heroesMenu"> Iniciar sesión</a>
          <ng-template #heroesMenu>
            <a mat-list-item [routerLink]="'/heroes/heroes-list'">Listado de héroes</a>
            <a mat-list-item [routerLink]="'/heroes/heroes-create'">Añadir héroe</a>
          </ng-template>
        </mat-nav-list>
      </mat-drawer>
      <router-outlet></router-outlet>
    </mat-drawer-container>
    <div *ngIf="showSpinner" class="loader-container">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>